######################################################################
# GitHub Template .gitignore files https://github.com/github/gitignore
######################################################################
# Nerdware gitignore entries:

# Notes
NOTE*
TODO*
FIXME*

# Security
*.bak
*.ca
*.crt
*.csr
*.der
*.env
*.env.*
*.env*
*.kdb
*.mwb
*.org
*.p12
*.pem
*.rnd
*.smime
*.sql
*.ssleay
schema.json

# Logs
logs
*.log

# VSCode Related
.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

######################################################################
